BLOB_READ_WRITE_TOKEN=YOUR_BLOB_READ_WRITE_TOKEN_HERE
BLOB_STORE_ID=YOUR_BLOB_STORE_ID_HERE
BLOB_WEBHOOK_PUBLIC_KEY=YOUR_BLOB_WEBHOOK_PUBLIC_KEY_HERE
VERCEL_OIDC_TOKEN=YOUR_VERCEL_OIDC_TOKEN_HERE
PAYLOAD_SECRET=YOUR_PAYLOAD_SECRET_HERE